@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome @ViewBag.Message2</h1>
<h2>@ViewBag.Message</h2>
<a asp-controller="Account" asp-action="Logout">Logout</a>
@*@section scripts{
<script type="text/javascript">
    function priventBack()
    {window.history.forward();}
    setTimeout("priventBack()",0);
    window.onunload=function(){null};
    </script>
}
*@